ICP6/source.txt
[{"id":"15289078.7825b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5adab7be.00bc98","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e4895e95.fbb82","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b369ccf6.40fbf","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f42c8c9f.07f32","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"3a8fdba1.c41204","type":"twitter-credentials","z":"","screen_name":"tonditfk"},{"id":"4a3bda41.6badb4","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36219648.c56c1a","type":"inject","z":"15289078.7825b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":380,"wires":[["928b412d.8be5f"]]},{"id":"928b412d.8be5f","type":"openweathermap","z":"15289078.7825b","name":"Tonderai Kambarami","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States","language":"en","x":740,"y":260,"wires":[["15b49c31.bc96f4","3340046.677b2fc"]]},{"id":"15b49c31.bc96f4","type":"debug","z":"15289078.7825b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":100,"wires":[]},{"id":"4a51f3b2.a70cfc","type":"e-mail","z":"15289078.7825b","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"tonditfk@gmail.com","dname":"Tonderai","x":1460,"y":300,"wires":[]},{"id":"b86f5865.75d7f8","type":"twitter out","z":"15289078.7825b","twitter":"3a8fdba1.c41204","name":"tonditfk","x":1460,"y":460,"wires":[]},{"id":"3340046.677b2fc","type":"function","z":"15289078.7825b","name":"Convert Message","func":"msg = {payload: msg.payload['description']}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":340,"wires":[["4a51f3b2.a70cfc","b86f5865.75d7f8"]]},{"id":"d182d90d.0ddeb8","type":"inject","z":"5adab7be.00bc98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["31b82357.aedb2c"]]},{"id":"eef29960.decb18","type":"switch","z":"5adab7be.00bc98","name":"SwitchDemo","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"eq","v":"50","vt":"num"},{"t":"gt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":240,"wires":[["8eb1d20b.ba1eb"],["6b692950.f437b8"],["c4f7fd4.239d7"]]},{"id":"31b82357.aedb2c","type":"function","z":"5adab7be.00bc98","name":"Random number generator","func":"msg = {payload: Math.floor((Math.random() * 100) + 1)};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["eef29960.decb18","c6e2b580.324d68"]]},{"id":"c6e2b580.324d68","type":"debug","z":"5adab7be.00bc98","name":"message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":80,"wires":[]},{"id":"8eb1d20b.ba1eb","type":"debug","z":"5adab7be.00bc98","name":"Less than 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":200,"wires":[]},{"id":"6b692950.f437b8","type":"debug","z":"5adab7be.00bc98","name":"= to 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":260,"wires":[]},{"id":"c4f7fd4.239d7","type":"debug","z":"5adab7be.00bc98","name":"Greater than 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":360,"wires":[]},{"id":"b8de6038.f456","type":"inject","z":"e4895e95.fbb82","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":300,"wires":[["30cd7fb4.07819"]]},{"id":"30cd7fb4.07819","type":"change","z":"e4895e95.fbb82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HELLO WORLD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["119cfd15.132d13"]]},{"id":"119cfd15.132d13","type":"debug","z":"e4895e95.fbb82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":300,"wires":[]},{"id":"5dad1cd0.d3c134","type":"inject","z":"b369ccf6.40fbf","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":180,"wires":[["6834703a.0bdcf"]]},{"id":"4a9c7988.1fc358","type":"inject","z":"b369ccf6.40fbf","name":"","topic":"","payload":"9999","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":260,"wires":[["6834703a.0bdcf"]]},{"id":"3e123b40.d5f544","type":"inject","z":"b369ccf6.40fbf","name":"","topic":"","payload":"7300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":360,"wires":[["6834703a.0bdcf"]]},{"id":"6834703a.0bdcf","type":"range","z":"b369ccf6.40fbf","minin":"0","maxin":"10000","minout":"1","maxout":"5","action":"scale","round":true,"property":"payload","name":"","x":520,"y":280,"wires":[["13cb1438.420b3c"]]},{"id":"13cb1438.420b3c","type":"debug","z":"b369ccf6.40fbf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":280,"wires":[]},{"id":"f7fb5c0d.04061","type":"http in","z":"f42c8c9f.07f32","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":300,"y":240,"wires":[["707125e2.d610dc"]]},{"id":"707125e2.d610dc","type":"template","z":"f42c8c9f.07f32","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","output":"str","x":720,"y":340,"wires":[["e78abee1.84058"]]},{"id":"e78abee1.84058","type":"http response","z":"f42c8c9f.07f32","name":"","statusCode":"200","headers":{},"x":1070,"y":240,"wires":[]}]
