ICP5/flows.json
[{"id":"18c7cd05.f214f3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7717ab1.1506c8","type":"inject","z":"18c7cd05.f214f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":220,"wires":[["eb7c4a42.c06a08"]]},{"id":"2cb93140.e351be","type":"debug","z":"18c7cd05.f214f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":140,"wires":[]},{"id":"3ca180ba.34a","type":"twitter out","z":"18c7cd05.f214f3","twitter":"","name":"Tweet","x":630,"y":240,"wires":[]},{"id":"ac6626dd.6d94f8","type":"e-mail","z":"18c7cd05.f214f3","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"firedrake372@gmail.com","dname":"Gmail","x":630,"y":200,"wires":[]},{"id":"eb7c4a42.c06a08","type":"openweathermap","z":"18c7cd05.f214f3","name":"","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States","language":"en","x":250,"y":220,"wires":[["61e79c2e.446bd4","2cb93140.e351be"]]},{"id":"61e79c2e.446bd4","type":"function","z":"18c7cd05.f214f3","name":"Sort","func":"msg = {payload: msg.payload['description']};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["ac6626dd.6d94f8","3ca180ba.34a"]]}]